<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://7xt0id.com1.z0.glb.clouddn.com/baseProject.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://7xt0id.com1.z0.glb.clouddn.com/base.html</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://corptravel.qiniudn.com/icon/512x512_fareasthorizon.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.163.baseProject</string>
				<key>bundle-version</key>
				<string>1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>七牛云APP</string>
				<key>title</key>
				<string>分发测试app</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
